<div class="wrapp">
  <% if @makers %>
    <h2 class="car-search-area-title"><%= @makers ? @makers.name : "「」" %>の中古車</h2>
  <% else %>
    <h2 class="car-search-area-title"><%= @body_type ? @body_type.name : "「」" %>の中古車</h2>
  <% end %>
  <div class="car-search-area">
    <div class="car-search-select-area">
      <% num = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] %>
      <% year = [1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017] %>
      <%= search_form_for @search do |f| %>
        <ul>
          <li>
            <%= f.label :region, '車種' %>
            <%= f.select :car_type_name_cont,
              CarType.all.map { |c| c.name },
              {:selected=>f.object.car_type_name_cont,
                :include_blank=>"車種を選択"
              },
              class: "custom-select"
            %>
          </li>
          <li>
            <%= f.label :region, '地域' %>
            <%= f.select :region_cont,
              Car.pluck(:region).uniq,
              {:selected=>f.object.region_cont, :include_blank=>"地域を選択"},
              class: "custom-select"
            %>
          </li>
          <li>
            <%= f.label :district, '市町村区' %>
            <%= f.select :district_cont, Car.pluck(:district).uniq, {:selected=>f.object.district_cont, :include_blank=>"市町村区を選択"}, class: "custom-select" %>
          </li>
          <li class="multiple-select">
            <%= f.label :base_price, '価格帯' %>
            <%= f.select :base_price_gteq, num, {:selected=>f.object.base_price_gteq.to_i, :include_blank=>"下限なし"}, class: "custom-select" if f.object.base_price_gteq %>
            <%= f.select :base_price_gteq, num, {:include_blank=>"下限なし"}, class: "custom-select" if f.object.base_price_gteq == nil %> 〜

            <%= f.select :base_price_lteq, num, {:selected=>f.object.base_price_lteq.to_i, :include_blank=>"上限なし"}, class: "custom-select" if f.object.base_price_lteq %>
            <%= f.select :base_price_lteq, num, {:include_blank=>"上限なし"}, class: "custom-select" if f.object.base_price_lteq == nil %>
          </li>
          <li class="multiple-select">
            <%= f.label :model_year, '年式' %>
            <%= f.select :model_year_gteq, year, {:selected=>f.object.model_year_gteq.to_i, :include_blank=>"下限なし"}, class: "custom-select" if f.object.model_year_gteq %>
            <%= f.select :model_year_gteq, year, {:include_blank=>"下限なし"}, class: "custom-select" if f.object.model_year_gteq == nil %> 〜

            <%= f.select :model_year_lteq, year, {:selected=>f.object.model_year_lteq.to_i, :include_blank=>"上限なし"}, class: "custom-select" if f.object.model_year_lteq %>
            <%= f.select :model_year_lteq, year, {:include_blank=>"上限なし"}, class: "custom-select" if f.object.model_year_lteq == nil %>
          </li>
          <li class="repaired-select">
            <%= f.label :repaired, '修理歴' %>
            <%= f.select :repaired_cont, ["なし", "あり"], {:selected=>f.object.repaired_cont, :include_blank=>"選択なし"}, class: "custom-select" %>
          </li>
        </ul>
    </div>
    <div class="car-search-submit-area">
      <%= f.submit 'この条件で検索', id: "car-search-submit" %>
    </div>
    <% end %>
  </div>
  <!--   <h2 class="car-search-list-title">全<%= @cars.count %>件</h2>
    <div class="car-search-list">
    </div> -->
  <div class="car-area">
    <% @cars.each do |c| %>
      <%= link_to car_path(c) do %>
        <div class="car-contents">
          <div class="car-contents-image">
            <%= image_tag c.car_images.first.url if c.car_images.first %>
          </div>
          <div class="car-contents-info">
            <div class="car-contents-info-top">
              <div class="car-contents-info-name">
                <p><%= c.maker.name %></p>
                <p class="car-contents-info-car-name"><%= c.name %></p>
              </div>
              <ul>
                <li>
                  <p>修理歴</p>
                  <p><%= c.repaired %></p>
                </li>
                <li>
                  <p>車検</p>
                  <p><%= c.vehicle_inspection%></p>
                </li>
                <li>
                  <p>排気量</p>
                  <p><%= c.displacement %>cc</p>
                </li>
                <li>
                  <p>走行距離</p>
                  <p><%= c.mileage %>万km</p>
                </li>
                <li>
                  <p>年式</p>
                  <p><%= c.model_year %></p>
                </li>
              </ul>
            </div>

            <p><%= c.region %><%= c.district %></p>
            <p><%= c.store_name %></p>

            <div class="car-contents-info-bottom">
              <ul>
                <li>
                  <p>本体価格</p>
                  <p class="car-contents-info-price"><%= c.base_price %>万円</p>
                </li>
                <li>
                  <p>支払い総額</p>
                  <p class="car-contents-info-price right"><%= c.total_price %>万円</p>
                </li>
              </ul>
              <div class="car-contents-info-botton">
                <%= link_to "在庫確認・見積依頼(無料)", "#{c.url}" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>