<div class="search-label">
  <p>中古車を探す</p>
</div>
<div class="search-area">
  <div class="search-top-area">
    <div class="search-form">
      <div class="search-form-top">
        <p>条件から検索</p>
        <% num = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] %>
        <%= search_form_for @search do |f| %>
          <%= f.select :car_type_name_cont, CarType.pluck(:name).uniq, {:selected=>"", :include_blank=>"車種を選択"}, class: "custom-select" %><br>

        <%= f.select :region_cont, Car.pluck(:region).uniq, {:selected=>f.object.region_cont, :include_blank=>"地域を選択"}, class: "custom-select" %><br>

        <%= f.select :base_price_gteq, num, {:include_blank=>"下限なし"}, class: "custom-select" %> ~
        <%= f.select :base_price_lteq, num, {:include_blank=>"上限なし"}, class: "custom-select" %>

        <%= f.submit 'この条件で検索', id: "search-form-top-submit" %>
        <% end %>
      </div>
      <div class="search-form-bottom">
        <p>フリーワードで検索</p>
        <%= search_form_for @search do |f| %>
          <div class="input-group">
            <%= f.text_field :car_type_name_cont, class: "form-control", placeholder: "例 トヨタ プリウス" %>
            <span class="input-group-btn">
              <%= f.submit '検索', class: "btn btn-default" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-maker">
      <p>メーカーから検索</p>
      <ul>
        <% maker.each do |m| %>
          <li>
            <%= link_to cars_path(maker_id: m.id), data: {"turbolinks" => false} do %>
              <%= image_tag "#{m.name}.jpg" %>
              <%= m.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <%= link_to "自動車メーカー一覧", makers_index_path, class: "to-maker-index" %>
    </div>
  </div>
  <div class="search-bottom-area">
    <p>ボディタイプから検索</p>
    <ul>
      <% body_type.each do |b| %>
        <li><%= link_to "#{b.name}", cars_path(body_type_id: b.id), data: {"turbolinks" => false} %></li>
      <% end %>
      <li><%= link_to "その他" %></li>
    </ul>
  </div>
</div>