<!DOCTYPE html>
<html>
  <head>
    <title>CarMedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pc/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'pc/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrapp">
        <h1><%= link_to "CAR STUDIO", category_path(1) %></h1>
        <nav>
          <% if user_signed_in? %>
  <!--             Logged in as <strong><%= current_user.email %></strong>. -->
            <%= link_to 'プロフィール変更', edit_user_registration_path %> |
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> |
            <%= link_to "記事作成", new_car_path, data: {"turbolinks" => false} %>
          <% else %>
            <%= link_to "サインイン", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="category-list">
      <ul>
        <% @category.each.with_index(1) do |c, n| %>
          <% if n == 3 %>
            <li><%= link_to c.name, "https://ikkatsu-satei.com/indexd.php" %></li>
          <% else %>
            <li><%= link_to c.name, category_path(n) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
